Package: com.yourname.gamehack
Name: GameHack Pro
Version: 2.0.0
Architecture: iphoneos-arm
Description: War fog bypass / map hack / camera control for Honor of Kings
Maintainer: you
Author: you
Section: Tweaks
Depends: mobilesubstrate

#miao